.sideMenu {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sideMenu__top {
    display: flex;
    flex-direction: column;
}

.sideMenu__top > button {
    background-color: #008f26;
    border-color: #008f26;
    color: white;
    border-radius: 50px;
    margin: 0 1rem;
    margin-bottom: 3rem;
    text-transform: inherit;
}

.sideMenu__userInfo {
    padding: 1rem;
    display: flex;
    align-items: center;
    color: rgb(166, 166, 166);
    margin-bottom: 2rem;
    cursor: pointer;
}

.sideMenu__userInfo:hover {
    color: white;
    transition: all 0.3s ease;
}

.sideMenu__userInfo > p {
    font-weight: 500;
}

.sideMenu__allNotesLink,
.sideMenu__trashLink {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
}

.sideMenu__userInfo > p,
.sideMenu__allNotesLink > p,
.sideMenu__trashLink > p {
    margin-left: 0.5rem;
    font-size: small;
}

.sideMenu__allNotesLink:hover,
.sideMenu__trashLink:hover {
    background-color: #262626;
    transition: all 0.3s ease;
}

.sideMenu__allNotesLink > p,
.sideMenu__trashLink > p,
.sideMenu__allNotesLink > .MuiSvgIcon-root,
.sideMenu__trashLink > .MuiSvgIcon-root {
    color: rgb(166, 166, 166);
}

.sideMenu__link--active {
    background-color: #333333;
}

.sideMenu__link--active > p,
.sideMenu__link--active > .MuiSvgIcon-root {
    color: rgb(230, 230, 230);
}

.sideMenu__bottom {
    border-top: 1px solid rgb(97, 89, 89);
    color: rgb(166, 166, 166);
    display: flex;
    padding: 1rem 1.5rem;
    align-items: center;
}

.sideMenu__bottom > p {
    margin-left: 0.5rem;
    font-size: small;
}

.sideMenu__userInfoDetail {
    position: absolute;
    background-color: #333333;
    padding: 0.5rem 2rem;
    z-index: 99;
    left: 18%;
    text-decoration: none;
    color: white;
    font-size: small;
    font-weight: 500;
}

.sideMenu__userInfoDetail:hover {
    color: rgb(166, 166, 166);
    transition: all 0.3s ease;
}
